.page-title1 {
  display: block;
  margin-left: 30px;
  color: black;
  font: Arial;
  font-size: 70px;
}

.page-title2 {
  display: block;
  margin-top: 100px;
  margin-left: 60px;
  font-weight: bold;
  color: black;
  font: Arial;
  font-size: 40px;
}

.text1 {
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 35px;
  color: black;
  font: Arial;
  font-size: 25px;
}

.text-item {
  display: inline-block;
  margin: 0px;
  margin-bottom: 50px;
  color: black;
  font: Arial;
  font-size: 18px;
}

.download-link {
  display: inline-block;
  font: Times;
  font-size: 16px;
}

.download-explanation {
  display: inline-block;
  font: Arial;
  font-size: 22px;
}
